body {
	background-color: #a0d8f8;
}

#tracker-app {
	background-color: #0830E0;
	width: 360px;
}

#options {
	margin-top: 6px;
	width: 360px;
	display: flex;
}

#options select, #options button {
	margin: 1px;
}

#options select {
	flex: 1 1 auto;
}

#orbTracker {
	width: 100%;
	display: flex;
	flex-direction: row;
}

#orb-area {
	width: 100px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

#scaleArea {
	width: 260px;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	flex: 1 1 auto;
	font-family: 'Press Start 2P', cursive;
	color: white;
	text-shadow: 2px 2px #000000, 1px 1px #000000;
}

#scaling {
	font-family: 'Press Start 2P', cursive;
	font-size: 24px;
	color: white;
	text-shadow: 2px 2px #000000, 1px 1px #000000;
}

#counting {
	font-family: 'Press Start 2P', cursive;
	font-size: 16px;
	color: white;
	text-shadow: 2px 2px #000000, 1px 1px #000000;
}

#itemTracker {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

#locationTracker {
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: flex-start;
}

.item {
	box-sizing: border-box;
	min-height: 56px;
	min-width: 45px;
	width: calc(100% / 8);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.iconContainer {
	height: 36px;
	width: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.iconOverlay {
	height: 36px;
	width: 36px;
	position: absolute;
}

.overlay {
	position: absolute;
	bottom: 0px;
	right: -2px;
	filter: drop-shadow(2px 2px 0px rgba(0, 0, 0, 0.15)) drop-shadow(-2px 2px 0px rgba(0, 0, 0, 0.15)) drop-shadow(-2px -2px 0px rgba(0, 0, 0, 0.15)) drop-shadow(2px -2px 0px rgba(0, 0, 0, 0.15))
}

.itemLabel {
	position: relative;
	display: flex;
	width: 36px;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 13px;
	color: white;
	text-shadow: 2px 2px #000000, 1px 1px #000000;
	z-index: 1;
}

.labelContainer {
	position: relative;
}

.icon.dim {
	filter: grayscale(100%) brightness(90%);
	opacity: 0.75;
}

.strike {
	position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
	top: 50%;
	width: 125%;
	height: 2px;
	background-color: white;
}

.icon.dark {
	filter: grayscale(100%) brightness(10%);
	opacity: 0.75;
}

.icon.used {
	filter: invert(100%);
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.panel {
	border: solid 2px #424542;
	box-shadow: 2px 2px #e7dfe7,
		-2px -2px #e7dfe7,
		2px -2px #e7dfe7,
		-2px 2px #e7dfe7,
		0 -4px #9c9a9c,
		-4px 0 #7b757b,
		0 4px #424542;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 2px;
	margin: 4px 2px;
	background-color: #0830E0;
}

.divider {
	position: relative;
	top: 0;
	left: 0;
	width: 95%;
	margin-left: 2.5%;
	margin-top: 5px;
	margin-bottom: 5px;
	background: #fff;
	height: 1px;
	box-shadow: 1px 1px #e7dfe7,
              -1px -1px #e7dfe7,
              1px -1px #e7dfe7,
              -1px 1px #e7dfe7,
              0 -2px #9c9a9c,
              -2px 0 #7b757b,
              0 2px #424542;
-webkit-border-radius: 10%;
  -moz-border-radius: 10%;
  border-radius: 10%;
}